PORT=3000
CLIENT=mysql
HOST=us-cdbr-east-02.cleardb.com
User=b76741ea6d0b76
PASSWORD=d5ab8948
DATABASE=heroku_3a8fe3e1fda64d4
ENVIRONMENT=development
JWT_KEY=secret

CLOUD_NAME=dedpblf9c
CLOUDINARY_API_KEY=488832727863452
CLOUDINARY_API_SECRET=JjjpJ9RG89Wc9shqKDaST3qwNYA

googleClientID=497565748696-6u1463gg97grstgnu0qbrllqmt3tasd2.apps.googleusercontent.com
googleClientSecret=H5ptMaimauJYceQtqvk9bm0W

facebookClientID=833677397039365
facebookClientSecret=d217e12b52d822f77496faf3ece0dac9
facebookCallBackURL=http://localhost:3000/login/facebook/callback